body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: rgb(71, 70, 70);
    font-size: 50px;
}
section{
    display: flex;
}
.half-width-1{
    width: 50%;
    padding-left: 5%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.order-food{
    text-decoration: none;
    background-color: rgb(255, 153, 0);
    color: aliceblue;
    border-radius: 30px;
    padding: 20px 40px;
    font-weight: 700px;
}